.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.Section-title {
    border-bottom: solid 1px black;
    background-color: rgba(28, 148, 24, 0.685);
    font-size: large;
}

.Categories {
    font-size: large;
    color: black;
    background-color: rgb(135, 190, 83);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
